<div class="ui two column centered row">
  <div class="column">
    <div class="ui segment">
      <h2>Welcome, {{user.name}}</h2>

      <p>Instagram ID:{{user.ig_id}}</p>

      <div class="ui grid">
        <div class="ui row">
          <div class="ui eight wide column">
            <a class="ui fluid blue button" href="/c3visualization">View C3 visualizations</a>
          </div>
          <div class="ui eight wide column">
            <a class="ui fluid black button" href="/visualization">View D3 visualizations</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
