<div class="ui column">
  <h1>C3 Visualizations</h1>

  <div class="ui segment">
    <h2> Media Count of Your Instagram Followers</h2>
    <div id="chart">
      <div class="ui active dimmer" id="countChartLoader">
        <div class="ui text loader">Loading</div>
      </div>
    </div>
  </div>

    <div class="ui segment">
      <h2>Your Instagram Posts per Day</h2>
      <div id="postsPerDayChart">
        <div class="ui active dimmer" id="postsChartLoader">
          <div class="ui text loader">Loading</div>
        </div>
      </div>
    </div>


  <script src="js/c3visualization.js"></script>
  <script src="js/c3visualization-postsPerDay.js"></script>
</div>
