<h1> Media Count of Your Instagram Followers using C3JS </h1>
<div id="chart"></div>
<div id="postsPerDayChart"></div>

<script src="js/c3visualization.js"></script>
<script src="js/c3visualization-postsPerDay.js"></script>
