<div class="ui column">
  <div class="ui segment">
    <h2> Media Count of Your Instagram Followers using C3JS </h2>
    <div id="chart"></div>

      <h2>Your Instagram Posts per Day</h2>
    <div id="postsPerDayChart"></div>
  </div>


  <script src="js/c3visualization.js"></script>
  <script src="js/c3visualization-postsPerDay.js"></script>
</div>
