<div class="ui column">
  <div class="ui segment">
    <h1> Media Count of Your Instagram Followers </h1>

    <input name="sortButton"
           class="ui blue button"
           type="button"
           value="Sort Media Counts"
           onclick="sortMediaCounts()" />

    <div id="chart"></div>

    <script src="js/visualization.js"></script>
  </div>
</div>
